
html{
  font-size: 16px;
  scroll-behavior: smooth;

  body{
    background-color: #120212;

    .mb-100{
      margin-bottom: 100px;
    }

    .Navbar {
      background-color: #120212;
      color: #fff;
      height: 80px;
      padding-bottom: 0;
      margin-bottom: 0;

      .container {
        height: 100%;

        .row {
          height: 100%;

          align-items: center;

          .col-md-2 {
            .navbar-brand {
              color: #fff;

              font-size: 30px;
            }
          }

          .col-md-6 {
            .navbar {

              justify-content: flex-end;

              .nav-link {
                padding: 0 5px;
                margin: 0 5px;
                color: #fff;
                cursor: pointer;
                position: relative;

                &:not(.lang):after {
                  content: '';
                  height: 2px;
                  background-image: linear-gradient(90deg, #E2041B, #FBD369);
                  position: absolute;
                  left: 0;
                  bottom: -3px;
                  width: 0;
                  transition: all 0.5s linear;
                }
                &:hover, &.active{
                  &:after{
                    width: 100%;
                  }
                }
              }
            }
          }

          .col-md-4 {
            padding: 0;

            .navbar {
              flex-wrap: nowrap;

              .nav-link {
                padding: 0;

                a{
                  img{
                    width: 36px;
                  }
                }
                .cons {
                  color: #fff;

                  margin-left: 10px;
                  border: 2px solid;
                  padding: 10px 20px;
                }

                .cons:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }


    .Jumbotron {
      background-color: #120212;
      overflow: hidden;

      .container {
        position: relative;
        //height: 100vh;
        .col-md-4 {
          h1 {
            font-size: 48px;
            padding-top: 120px;
            padding-left: 100px;
            font-weight: 600;

            background: linear-gradient(90deg, #FFD66B 0%, #E2021A 58.77%, #7B37FF 93.95%);

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #FFD66B;

            display: table;
          }
        }

        .col-md-8 {
          p {
            font-weight: 600;
            font-size: 30px;
            padding-left: 100px;
            color: #fff;
          }
        }

        img {
          width: 65%;
          position: absolute;
          top: 10%;
          right: 5%;
          animation-name: raceta;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          //animation-timing-function: linear;
        }

        @keyframes raceta {
          0% {
            transform: translateX(0px) translateY(0px);

          }
          50% {
            transform: translateX(20px) translateY(20px);
          }


          100% {
            transform: translateX(0px) translateY(0px);
          }
        }
      }

      .subHome {
        h2 {
          color: #362836;
          font-weight: 700;
          font-size: 40px;
          margin-top: 150px;
        }

        h3 {
          font-size: 44px;

          font-weight: 600;

          background: linear-gradient(90deg, #FFD66B 0%, #E2021A 58.77%, #7B37FF 93.95%);

          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: #FFD66B;

          display: table;
        }

        ul {
          margin-top: 30px;

          li {
            list-style: none;
            display: flex;
            margin-top: 20px;
            font-size: 24px;
            color: #fff;
            align-items: center;

            div {
              width: 20px;
              margin-top: 5px;
              height: 20px;
              background: linear-gradient(100.01deg, #FBB55E 7.74%, #E2021A 100%);
              border-radius: 50%;
              margin-right: 20px;
            }
          }
        }
      }
    }


    .Services {
      background-color: #120212;


      h3 {
        font-size: 44px;

        margin-bottom: 50px;
        font-weight: 600;

        background: linear-gradient(90deg, #FFD66B 0%, #E2021A 58.77%, #7B37FF 93.95%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #FFD66B;

        display: table;
      }

      .col-md-4 {
        box-sizing: border-box;

        .serCard {
          padding-bottom: 50px;
          color: #fff;

          background: linear-gradient(135.88deg, rgba(58, 129, 191, 0.08) 0%, rgba(65, 48, 90, 0.03) 100.8%);
          //border: solid;
          //border-width: 4px;
          //
          //border-image: conic-gradient(transparent, transparent, transparent, aqua ,  transparent,   transparent, #7B37FF, transparent) 1;

          border-radius: 30px;

          border: 3px solid;

          border-image-source: linear-gradient(135deg, #7B37FF 0%, rgba(32, 176, 253, 0) 36.1%, rgba(123, 127, 234, 0) 54.37%, #18B2DE 100%);


          img {
            margin-top: 20px;
            margin-left: 7%;
            width: 86%;
          }

          h4 {
            text-align: center;
            margin-top: 24px;
          }

          ul {
            margin-top: 24px;

            margin-bottom: 30px;

            li {
              margin-top: 10px;
              margin-left: 10px;
            }
          }

          div {
            width: 100%;
            text-align: center;

            a {

              border: 2px solid #fff;
              color: #fff;
              padding: 10px 20px;
            }
          }
        }
      }

    }

    .Benefits {
      background-color: #120212;

      h2 {
        color: #362836;
        font-weight: 700;
        font-size: 40px;
        padding-top: 100px;
      }

      h3 {
        font-size: 44px;

        margin-bottom: 50px;
        font-weight: 600;

        background: linear-gradient(90deg, #FFD66B 0%, #E2021A 58.77%, #7B37FF 93.95%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #FFD66B;

        display: table;
      }


  .row{
    .col-md-3{
      animation-name: benAnim;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 5s;

      padding: 8px;
      .benCard{
        position: relative;
        background: linear-gradient(135.88deg, rgba(58, 129, 191, 0.08) 0%, rgba(65, 48, 90, 0.03) 100.8%);
        backdrop-filter: blur(4px);

            padding: 20px;

            border-radius: 30px;
            height: 320px;


            div {
              display: flex;
              align-items: center;
              position: relative;
              z-index: 111;

              span {
                font-size: 48px;


                background: linear-gradient(90deg, #FFD66B 0%, #E2021A 58.77%, #7B37FF 93.95%);

                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #FFD66B;

                font-weight: 700;
                display: table;
              }

              h4 {
                font-size: 14px;
                color: #fff;
                margin-top: 10px;
              }
            }


            p {
              color: #fff;
              font-size: 14px;
              position: relative;
              z-index: 111;
              font-weight: 400;
            }

            ul {
              padding-left: 20px;

              position: relative;
              z-index: 111;

              li {
                color: #fff;
                font-weight: 400;
                font-size: 14px;

                margin-top: 5px;
              }
            }

            h1 {
              font-size: 180px;


              z-index: 1;
              position: absolute;


              left: 30%;

              top: 20%;

              background: linear-gradient(90deg, #FFD66B 0%, #E2021A 58.77%, #7B37FF 93.95%);

              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              color: #FFD66B;

              opacity: 0.5;
              font-weight: 700;
              display: table;
            }
          }
        }

        .col-md-3:nth-child(2), .col-md-3:nth-child(3), .col-md-3:nth-child(4) {
          .benCard {
            p {
              margin-top: 50px;
              line-height: 20px;
            }
          }
        }

    .col-md-3:nth-child(2){
      margin-top: 50px;
      animation-delay: 0.5s;
    }

    .col-md-3:nth-child(3){
      margin-top: 100px;
      animation-delay: 1s;

    }
    .col-md-3:nth-child(4){
      margin-top: 150px;
      animation-delay: 1.5s;

    }


    @keyframes benAnim {
      25%{

         transform: translateY(20px);

      }

        }

      }
    }

    .ServiceHeader{
      height: calc(100vh - 80px);

      background-size: cover;
      h1{
        font-size: 48px;
        line-height: 72px;
        background: linear-gradient(90deg, #FFD66B , #E2021A);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .Posts{
      h3{
        font-size: 44px;
        line-height: 66px;
        margin-bottom: 50px;
        margin-top: 106px;
        background: linear-gradient(90deg, #FFD66B , #E2021A);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: table;
      }

      .col-4{
        margin-bottom: 50px;
        .card{
          p{
            font-size: 18px;
            line-height: 27px;
            span{
              font-weight: 700;
            }
          }
          .tag{
            background: linear-gradient(90deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
            border-radius: 30px;
            padding: 6px 32px;
            font-size: 14px;
            line-height: 17px;
          }
          .overflow-hidden{
            margin-top: 27px;
            border-radius: 30px;
            img{
              height: 230px;
              transition: all 0.6s linear;
              object-fit: cover;
              &:hover{
                transform: scale(1.1);
              }
            }
          }
          h4{
            margin: 20px 0;
            font-size: 22px;
            line-height: 26px;
          }
          .card-footer{
            color: #999999;
            font-size: 18px;
            line-height: 21px;
          }

        }
      }

    }

  }
}

@keyframes animatedGradient {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: 100%;
  }
}



.Cases{
  margin: 0;
  padding: 0;

  h2 {
    color: #362836;
    font-weight: 700;
    font-size: 40px;
    padding-top: 120px;
  }

  h3 {
    font-size: 44px;

    margin-bottom: 50px;
    font-weight: 600;

    background: linear-gradient(90deg, #FFD66B 0%, #E2021A 58.77%, #7B37FF 93.95%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFD66B;

    display: table;
  }

  .row{
    margin: 0;
    padding: 0;
    .col-md-6{
      margin: 0;
      padding: 0;
      img{
        width: 100% ;
      }
    }
  }
}

.Clients{
  h2 {
    color: #362836;
    font-weight: 700;
    font-size: 40px;
    padding-top: 120px;
  }

  h3 {
    font-size: 44px;

    margin-bottom: 50px;
    font-weight: 600;

    background: linear-gradient(90deg, #FFD66B 0%, #E2021A 58.77%, #7B37FF 93.95%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFD66B;

    display: table;
  }

  .row{
    .hour{
      background: linear-gradient(359.49deg, #DFE9F3 0.39%, #FFFFFF 100.88%);
      border-radius: 20px;
      width: 100px;
      height: 140px;
      position: relative;
      div{
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        background-color: #999999;
        z-index: 1;
      }
      h1{
        color: #323232;
        margin-top: 5px;
        font-size: 98px;
        text-align: center;
        position: relative;
        z-index: 111;
      }
    }
  }
  .carouselItem{
    align-items: center;
    display: flex;
    height: 100%;
    img{
      width: 80%;
    }
  }
p{
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  padding-right: 50px;
  margin-bottom: 30px;
}
  .row{
    margin-top: 50px;
    .col-md-6{






      a{

        background: #FF4B5C;
        border: 3px solid #FFFFFF;
        box-sizing: border-box;
        color: #fff;
        border-radius: 40px;
        font-size: 24px;
        padding: 10px 20px 15px 20px;


        font-weight: normal;
      }
      a:hover{
        text-decoration: none;
      }
    }
  }

}


.Footer{

  margin-top: 100px;
  .line{
    height: 1px;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;

  }
  h2{
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-top: 50px;
    font-weight: normal;
  }
  h3 {
    font-size: 44px;

    font-weight: 600;

    background: linear-gradient(90deg, #FFD66B 0%, #E2021A 58.77%, #7B37FF 93.95%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFD66B;

    display: table;

    margin: 50px auto;
  }
  .row{
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
  }

  p{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
  }


  h6{
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-bottom: 100px;
  }




}


.Application{
  h3 {
    font-size: 44px;

    margin-bottom: 50px;
    font-weight: 600;

    background: linear-gradient(90deg, #FFD66B 0%, #E2021A 58.77%, #7B37FF 93.95%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFD66B;

    display: table;
  }

  .row{
    .col-md-6{
      display: flex;
      flex-wrap: nowrap;
      input{
        background-color: transparent;
        width: 283px;

        height: 70px;

        font-size: 20px;
        color: #989898;

        border: 1px solid #7B37FF;
        box-sizing: border-box;
        border-radius: 20px;
      }
      input:focus{
        outline: none;
      }

      .inputNumber{
        margin-left: 20px;
        position: relative;
        img{
          position: absolute;
          left: 20px;
          top: 15px;
        }
        input{
          padding-left: 80px;
          background-color: transparent;

          border: 1px solid #7B37FF;
          box-sizing: border-box;
          border-radius: 20px;
        }
      }
      button{
        background: linear-gradient(90deg, #5F72BD 0%, #9B23EA 100%);
        border-radius: 70px;
        padding-left: 50px;
        padding-right: 50px;
        color: #fff;
        margin-left: 20px;
      }
    }
  }
}